@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
padding: 0;
margin: 0;
font-family: 'Montserrat';
}

.logo{
left: 34px;
top: 29px;
}

.home{
	position: absolute;
	width: 126px;
	height: 168px;
	left: 70%;
	top: 4px;
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	text-align: center;

}
.home a{
padding-left: 30%;

}

nav{
display: flex;
}

.barre{
position: absolute;
width: 1530px;
height: 0px;
left: 0px;
top: 137px;
border: 1px solid #000000;
}

.lesH{
font-style: normal;
line-height: 5px;
align-items: center;
padding: 5% 0 1% 7%;
}

h1{
font-size: 80px;
}

H2{
font-size: 40px;
padding-top: 1%;
}